Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Migrate==4.0.5
Flask-Limiter==3.5.0
Flask-Mail==0.10.0
Flask-SocketIO==5.6.1
gevent==26.8.0
gevent-websocket==0.10.1
WTForms==3.1.1
PyMySQL==1.1.0
cryptography==41.0.7
python-dotenv==1.0.0
email-validator==2.1.0
Werkzeug==3.0.1
